<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Url=https://centralbanktrialcrm3.crm4.dynamics.com; Username=test3@centralbanktrialcrm3.onmicrosoft.com; Password=Password01; authtype=Office365;" name="Xrm" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>